section{
    height: 100vh;
    .boxes{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            gap: 20px;
            border: 1px solid #000;
        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            background-color: rgb(163, 141, 85);  
            &:hover{ 
                h1{
                    display: none;
                }
             img{
                    display: block;
                }
            }
            img{
                width: 200px;
                height: 200px;
                display: none;
            }
        }
    }
}