#minions {
    padding: 50px 0;
    max-width: 1440px;
    // .boxes {
      h1 {
        text-align: center;
        padding-bottom: 20px;
        &::after {
          content: "";
          border: 1px solid goldenrod;
          display: block;
          width: 10%;
          margin: 0 auto;
        }
      }
      .row {
        gap: 20px;
        flex-wrap: nowrap;
        .box {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 200px;
          color: white;
          border: 1px dashed black;
          &:nth-child(odd) {
            background-color: #923e8b;
            &:hover{
              background-image: url(../images/minion-1.png);
              background-size: cover;
              transform: rotateX(360deg);
              transition-duration: 2s;
              h2{
                  display: none;
              }
            }
          }
          &:nth-child(even) {
            background-color: #1aab5c;
            &:hover{
              background-image: url(../images/minion-3.png);
              background-size: cover;
              transform: rotateX(360deg);
              transition-duration: 2s;
              h2{
                  display: none;
              }
            }
          }
        }
      }
    // }
  }