header {
  background-image: url(../images/back.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
  .header {
    height: 100vh;
    nav {
      height: 70px;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        li {
          position: relative;
          &:hover {
            &::after {
              content: "";
              border: 1px solid red;
              display: block;
              width: 20px;
              position: absolute;
            }
          }
          a {
            color: #fff;
            img {
              width: 50px;
              border-radius: 50%;
            }
          }
        }
      }
    }
    .bg-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;
      height: 100%;
      width: 25%;
      color: #fff;

      h3 {
        font-family: "Dancing Script", cursive;
        text-decoration: line-through;
        color: burlywood;
      }
      h1 {
        font-family: "Open Sans", sans-serif;
        font-size: 64px;
        font-weight:2;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .link {
        &:hover {
          a {
            background-color: bisque;
            color: #7e7c7c;
          }
        }
        a {
          color: #fff;
          background-color: rgb(170, 142, 105);
          text-align: center;
          width: 100px;
          padding: 10px;
          font-family: "Open Sans", sans-serif;
        }
      }
    }
    .cover {
      position: absolute;
      right:7%;
      top: 40%;
      img {
        width: 420px;
        height: 420px;
        border-radius: 50%;
        &:hover {
          transform: translateY(50%);
          transition-duration: 2.5s;
        }
      }
    }
  }
}
