section {
  height: 100vh;
  margin: 20px 0;
  border: 2px solid #000;
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .boxes {
      display: flex;
      gap: 20px;
      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        background-color: rgb(245, 221, 160);
        border: 1px dashed #000;
        background-size: cover;
        &:hover {
          transform: rotateX(360deg);
          transition-duration: 1.5s;
        }
      }
      .box1 {
        &:hover {
          h3 {
            display: none;
          }
          background-image: url(../images/mini2.jpg);
        }
      }
      .box2 {
        &:hover {
          h3 {
            display: none;
          }
          background-image: url(../images/mini.jpg);
        }
      }
      .box3 {
        &:hover {
          h3 {
            display: none;
          }
          background-image: url(../images/mini1.jpg);
        }
      }
    }
  }
}
