header {
  height: 100vh;
  background-image: url(../image/bg2.jpg);
  background-size: cover;
  nav {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    height: 50px;
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        img{
            width: 100px;
        }
        li{
          position: relative;
          &:hover{
            a{
              color: black;
            }
          &::after{
            content: "";
            border: 1px solid brown;
            display: block;
            position: absolute;
            width: 100%;
          }
        }
        }
      }
  }
}
